@charset "UTF-8";
:root {
  --primary-light: hsl(36, 90%, 60%);
  --primary: hsl(36, 90%, 50%);
  --primary-dark: hsl(36, 90%, 40%);
  --secondary-light: hsl(197, 90%, 60%);
  --secondary: hsl(197, 90%, 50%);
  --secondary-dark: hsl(197, 90%, 40%);
  --light-text: hsl(0, 0%, 100%);
  --dark-text: hsl(0, 0%, 40%);
  --gray-1: hsl(0, 0%, 50%);
  --gray-2: hsl(0, 0%, 55%);
  --gray-3: hsl(0, 0%, 60%);
  --gray-4: hsl(0, 0%, 65%);
  --gray-5: hsl(0, 0%, 70%);
  --gray-6: hsl(0, 0%, 75%);
  --gray-7: hsl(0, 0%, 80%);
  --gray-8: hsl(0, 0%, 85%);
  --gray-9: hsl(0, 0%, 90%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 300;
  font-size: calc(2vw + 0.4em);
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media screen and (min-width: 28em) {
  :root {
    font-size: calc(1vw + 0.45em);
  }
}
@media screen and (min-width: 48em) {
  :root {
    font-size: calc(0.75vw + 0.4em);
  }
}
@media screen and (min-width: 64em) {
  :root {
    font-size: calc(0.9em);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  font-weight: 400;
}

h2, h3 {
  font-weight: 500;
}

h4, h5 {
  font-weight: 700;
}

h6 {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  color: var(--primary);
}

a.primary-text:hover {
  color: var(--secondary);
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  outline: 0;
}

.light-text {
  color: var(--light-text);
}

.dark-text {
  color: var(--dark-text);
}

.secondary-text {
  color: var(--secondary);
}

.primary-text {
  color: var(--primary);
}

.green-text {
  color: green;
}

.wrapper {
  margin: 0 auto;
  max-width: 160em;
}

.btn {
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  display: inline-block;
  color: var(--dark-text);
  border: 1px solid var(--dark-text);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  color: var(--light-text);
  background-color: var(--dark-text);
}
.btn--primary {
  color: var(--light-text);
  border: 1px solid var(--primary);
  background-color: var(--primary);
}
.btn--primary:hover {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
}
.btn--secondary {
  color: var(--light-text);
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
}
.btn--secondary:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
}
.btn--small {
  font-size: 0.7rem;
}
.btn--large {
  font-size: 1.3rem;
}

.nav {
  padding: 1em;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.nav--primary {
  color: var(--light-text);
  background-color: var(--primary);
}
.nav--secondary {
  color: var(--light-text);
  background-color: var(--secondary);
}
.nav-toggle {
  width: 2em;
  border: none;
  background: none;
  overflow: hidden;
  text-indent: 20em;
  position: relative;
  white-space: nowrap;
  border-radius: 0.2em;
  transform: scale(1.8);
  color: var(--light-text);
}
.nav-toggle:hover {
  border: none;
  cursor: pointer;
}
.nav-toggle::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "≡";
  display: flex;
  position: absolute;
  align-items: center;
  text-indent: initial;
  transform: scale(1.2);
  justify-content: center;
}
@media screen and (min-width: 48em) {
  .nav-toggle {
    display: none;
  }
}
.nav__links {
  top: 0.5em;
  right: 0.5em;
  display: none;
  position: absolute;
  border-radius: 0.2em;
  list-style-type: none;
  background-color: var(--light-text);
}
@media screen and (min-width: 48em) {
  .nav__links {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    background: none;
  }
}
.nav__links a {
  padding: 0.3em 2.5em 0.3em 0.5em;
  display: inline-block;
  color: var(--dark-text);
}
@media screen and (min-width: 48em) {
  .nav__links a {
    color: var(--light-text);
    padding: 0.3em 1em;
  }
  .nav__links a:hover {
    color: var(--secondary);
  }
}
.nav__links.open {
  display: block;
}

.logo {
  color: var(--light-text);
}
.logo:hover {
  color: var(--light-text);
}

.banner {
  color: var(--light-text);
}

.slider {
  padding: 7em 1em;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider--primary {
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--primary), rgba(242, 150, 13, 0.3) 60%, transparent), url("./../images/bg.jpg");
}
.slider--secondary {
  background-color: var(--secondary);
  background-image: linear-gradient(to bottom, var(--secondary), rgba(242, 150, 13, 0.3) 60%, transparent), url("./../images/bg.jpg");
}
.slider ul {
  list-style-type: none;
}
.slider__item h2, .slider__item p {
  max-width: 42em;
  margin: 1em auto;
}
.slider__item p {
  font-size: 1.2em;
  text-shadow: 0.01em 0.01em var(--gray-1);
}
@media screen and (min-width: 28em) {
  .slider__item h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 28em) {
  .slider__item h2 {
    font-size: 2.5em;
  }
}
.slider__item * + * {
  margin-top: 1em;
}
.slider__links {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.slider__link {
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.1em;
  text-indent: 20em;
  overflow: hidden;
  width: 0.5em;
  height: 0.5em;
  background-color: var(--light-text);
}

.services {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 28em) {
  .services {
    padding: 2em;
  }
}
@media screen and (min-width: 48em) {
  .services {
    flex-direction: row;
    padding: 5em 3em;
  }
  .services > * {
    flex: 1 1 33.3333%;
  }
}

.service {
  display: flex;
  padding: 1.5em;
  border-left: 1px solid var(--gray-7);
}
.service__icon {
  font-size: 2rem;
}
.service__desc {
  padding-left: 1.5em;
}
.service__desc * + * {
  margin-top: 1em;
}

.summary {
  background-color: var(--gray-9);
  margin: 3em 0 0;
  padding: 0.5em;
}
@media screen and (min-width: 28em) {
  .summary {
    padding: 1em 2em;
  }
}
@media screen and (min-width: 48em) {
  .summary {
    display: flex;
    align-items: center;
  }
  .summary > * {
    flex: 1 1 50%;
  }
}
.summary * + * {
  margin-top: 0.5em;
}
.summary__img {
  margin-top: -2.5em;
}
@media screen and (min-width: 48em) {
  .summary__img img {
    transform: scale(1.1);
    transform-origin: left;
  }
}
@media screen and (min-width: 78em) {
  .summary__img img {
    transform: scale(1.3);
    transform-origin: left;
  }
}
@media screen and (min-width: 90em) {
  .summary__img img {
    transform: scale(1.5);
    transform-origin: left;
  }
}
.summary__body {
  margin-top: 1em;
}
@media screen and (min-width: 48em) {
  .summary__body {
    padding-left: 5em;
    margin-top: 0;
  }
}
.summary__body__title {
  font-weight: 100;
  transform: scale(0.9);
  transform-origin: left;
}
.summary__body__sub-title {
  text-transform: uppercase;
  transform: scale(0.9);
  transform-origin: left;
  font-weight: 400;
  margin: 0.1em 0 1.1em;
}

.achievements {
  padding: 4em 0.5em;
  background-color: var(--gray-9);
}
@media screen and (min-width: 28em) {
  .achievements {
    padding: 5em 2em;
  }
}
@media screen and (min-width: 48em) {
  .achievements {
    padding: 6em 2em;
  }
}
.achievements__title {
  text-align: center;
  position: relative;
}
.achievements__title::before {
  top: 0.65em;
  content: " ";
  display: block;
  position: relative;
  border-bottom: 1px solid var(--dark-text);
}
.achievements__title span {
  padding: 0 1em;
  position: relative;
  background-color: var(--gray-9);
}
.achievements__row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5em;
}
@media screen and (min-width: 28em) {
  .achievements__row {
    display: flex;
    flex-wrap: wrap;
  }
}

.achievement {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 28em) {
  .achievement {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 48em) {
  .achievement {
    flex-basis: 25%;
  }
}
.achievement__count {
  font-size: 4rem;
  flex: 1 1 50%;
  padding-left: 0.3em;
  text-align: right;
}
.achievement__content {
  flex: 1 1 50%;
  line-height: 1.8;
  padding-left: 1em;
}

.section-title {
  text-align: center;
  padding: 3em 0;
}
.section-title > * + * {
  margin-top: 0.05em;
}
.section-title__main {
  font-size: 1.5rem;
}
@media screen and (min-width: 28em) {
  .section-title__main {
    font-size: 2rem;
  }
}
@media screen and (min-width: 28em) {
  .section-title__main {
    font-size: 2.5rem;
  }
}

.team {
  padding: 3em 1em;
}
@media screen and (min-width: 28em) {
  .team {
    padding: 3em 2em;
  }
}
.team__row > * + * {
  margin-top: 1em;
}
@media screen and (min-width: 48em) {
  .team__row {
    display: flex;
    padding: 0 3.5em;
  }
}

.member {
  display: flex;
  max-width: 28em;
  margin: 2em auto;
  flex-direction: column;
}
@media screen and (min-width: 48em) {
  .member:nth-child(n+2) {
    margin-left: 1.8em;
  }
}
.member * + * {
  margin-top: 0.5em;
}
.member__img {
  width: 100%;
  min-height: 21em;
  max-height: 30em;
}
@media screen and (min-width: 48em) {
  .member__img {
    min-height: 15em;
  }
}
.member__role {
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.member__links {
  list-style-type: none;
}
.member__links li {
  display: inline-block;
}
.member__links li a {
  display: inline-block;
  font-size: 1.2rem;
  padding-right: 0.5em;
}

.clients {
  background-color: var(--gray-9);
  padding: 3em;
  list-style-type: none;
}
@media screen and (min-width: 48em) {
  .clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.client {
  text-align: center;
  padding: 1em 0;
}
@media screen and (min-width: 48em) {
  .client {
    padding: 0 3em;
  }
}
.client img {
  max-width: 7em;
  max-height: 7em;
}

.contact {
  line-height: 1.9;
  color: var(--light-text);
  text-align: center;
}
@media screen and (min-width: 48em) {
  .contact {
    display: flex;
  }
}
.contact > * {
  padding: 5em;
  flex: 1 1 0%;
}
.contact__email {
  background-color: var(--primary-light);
}
.contact__address {
  background-color: var(--primary);
}
.contact__phone {
  background-color: var(--primary-dark);
}

.footer {
  margin-top: -0.5em;
  padding: 3em 0.5em;
  color: var(--light-text);
}
@media screen and (min-width: 28em) {
  .footer {
    padding: 3em 2em;
  }
}
@media screen and (min-width: 48em) {
  .footer {
    display: flex;
  }
  .footer > * {
    flex: 1 1 0%;
    padding: 1em;
  }
}
.footer > * + * {
  margin-top: 2em;
}
@media screen and (min-width: 48em) {
  .footer > * + * {
    margin-top: 0;
  }
}
.footer-wrapper {
  background-color: var(--secondary-dark);
}
.footer__summary__body {
  margin-top: 1em;
  line-height: 1.5;
}
.footer__links {
  margin-top: 2em;
}
.footer__link {
  color: var(--light-text);
  display: inline-block;
  padding-right: 1em;
  transform: scale(1.2);
}

.designer {
  text-align: center;
  padding: 2em;
}

.posts > * + * {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.post {
  display: flex;
  padding: 1.5em 0;
  align-items: center;
}
.post__img {
  width: 3.5em;
  height: 3.5em;
}
.post__body {
  padding-left: 1em;
  line-height: 1.8;
}
.post__body a {
  color: var(--light-text);
}
.post__author {
  font-size: 0.9rem;
}

.projects {
  margin-top: 1.5em;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.project {
  max-width: 6em;
  padding: 0.5em;
}

.portfolio-section {
  padding: 2em 0;
}

.portfolio {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 28em) {
  .portfolio {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.portfolio__item {
  display: flex;
  max-height: 20em;
  position: relative;
}
@media screen and (min-width: 28em) {
  .portfolio__item {
    flex: 1 1 50%;
  }
}
@media screen and (min-width: 48em) {
  .portfolio__item {
    flex: 1 1 25%;
  }
}
.portfolio__item__img {
  flex: 1 1 0%;
}
@media screen and (min-width: 28em) {
  .portfolio__item__img {
    max-height: 1 1 50%;
  }
}
.portfolio__item__description {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  display: flex;
  position: absolute;
  color: transparent;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.portfolio__item__description * {
  display: none;
}
.portfolio__item__description:hover {
  color: var(--light-text);
  background-color: rgba(13, 177, 242, 0.7);
}
.portfolio__item__description:hover * {
  display: block;
}
.portfolio__more {
  padding: 1em;
  display: flex;
  font-weight: 400;
  align-items: center;
  background-size: cover;
  color: var(--light-text);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: space-between;
}
.portfolio__more--primary {
  background-color: var(--primary);
  background-image: linear-gradient(to right, rgba(242, 150, 13, 0.9) 55%, rgba(242, 150, 13, 0.1)), url("./../images/portfolio/bg.jpg");
}
.portfolio__more--secondary {
  background-color: var(--secondary);
  background-image: linear-gradient(to right, rgba(13, 177, 242, 0.9) 55%, rgba(242, 150, 13, 0.1)), url("./../images/portfolio/bg.jpg");
}
@media screen and (min-width: 48em) {
  .portfolio__more {
    padding: 2em;
  }
}

.map {
  border: 0;
  min-height: 30em;
}

/*# sourceMappingURL=style.css.map */
